.red{
background-color: red;
color: black;
}
.yellow{
background-color:yellow ;
color: black;
}
.orange{
background-color:orange ;
color: black;
}
.green{
background-color:green;
color: black;
}
.solid{
border: 2px solid black;
}
.ghost{
border: none;
}
.outline{
border: 1px solid black;
outline: blue;
}
.md{
font-size: 35px;
}
.sm{
font-size:25px ;
}
.lg{
font-size:45px ;
}
.xl{
font-size:55px ;
}