.App {
  font-family: sans-serif;
  text-align: center;
}
.bigbox {
  margin: auto;
  width: 80%;
  padding: 30px;
  background-color: orange;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 50px;
}
